<!-- ### Beginning of HTML.  Opening Tables. ### -->
<head>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-34585232-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>


<table align="center" width="700" cellspacing="0" cellpadding="0" style="border:3px solid #000000;" bgcolor="#FFFFFF">
<tr>
<td>

<table align="center" width="100%" height=100 cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF" background="http://tinypic.com/ic5qht.gif">
<tr>
<td>
</td></tr></table>


<!-- ### disco ball ### -->
<center><img src="http://tinypic.com/ic4nx3.gif"></center>


<!-- ### about me gif ### -->

<p align=center><img src="http://tinypic.com/ic4xeg.gif" alt="Image hosted by TinyPic.com"></p>


<!-- #### Text table #### -->

<table align="center" width="100%" cellspacing="0" cellpadding="30" border="0" bgcolor="#FFFFFF" >
<tr>
<td>


<!-- ### About ME Header ### -->

<font face="verdana" size="4" color="#000000"><b><u>About Me</u></b></font><br><br>


<!-- ### About ME text.  Talk about you, your family.  Use two br tags to separate paragraphs.  See below ### -->

<p  align="justify"><font face="verdana" size="2" color="#000000">

<div><b><u>Samar Kumar Mishra</u><b></div><br>
<div><u><b>Software Engineer at Sedin Technologies Pvt. Ltd., Chennai<b></u></div><br>
<b>eMail: er.samarmishra@gmail.com
<br><br>
A passionate  Software Developer on ROR platform at Railsfactory(Sedin Technologies.).
My field of interest is to work on and for the open source technologies and community. That is why I went for Ruby On Rails and the Ubuntu platform for the development.
My aim is to work for the company at your optimum limit for the betterment of self and the company.
I Live , Love  and Like my work.

</font></p><br><br>


<!-- ### About My Hobbies ### -->

<div><font face="verdana" size="4" color="#000000"><b><u>About My Hobbies</u></b></font></div><br><br>


<!-- ### About My Hobbies Text.  Use two br tags to separate paragraphs. ### -->

<p  align="justify"><font face="verdana" size="2" color="#000000">
<div>My hobbies are to :</div>
<div>1. Draw Sketchings</div>
<div>2. Love Cooking special dishes</div>

</font></p><br>


<!-- ### About Me & eBay Header ### -->

<font face="verdana" size="4" color="#000000"><b><u>About Me & myBlog</u></b></font><br><br>


<!-- ### About Me & eBay Text. Use two br tags to separate paragraphs. ### -->

<p  align="justify"><font face="verdana" size="2" color="#000000">
I have created this Blog in the guidence of Mr. Magesh , a Senior Software Developer at railsfactory.
He has given me a lot of help whenever I got stuck in any part of development of blog. He was always beyond me.

<br><br>

Its great to work in such an environment which my company Railsfactory has provided to me .
All are very helpful here. My Project Manager is Mr. Shafi who has given me this opportunity  to create such a job.

</font></p><br>


<!-- ### Thank you for visiting ### -->

<p align=center><font face="verdana" size="3" color="#000000"><b>

Thank you for visiting!

</b></font></p><br>


<!-- ### These are your links.  Replace the string of asterisks with your eBay user name. Delete the auctions link if you don't sell. ### -->

<p align="center"><font face="trebuchet ms" size="4" color="#000000">

<!-- ### Auctions Link ### -->

 <a href="http://search.ebay.com/_W0QQgotopageZ1QQsassZ******QQsorecordsperpageZ25QQsosortorderZ1QQsosortpropertyZ1" style="color: #808080"></a>

<!-- ### Feedback Link ### -->

<a href="http://feedback.ebay.com/ws/eBayISAPI.dll?ViewFeedback&userid=******&frm=1728" style="color: #808080"></a>

<!-- ### Contact Me Link.  This is for contact through eBay. ### -->

<a href="http://contact.ebay.com/ws/eBayISAPI.dll?ReturnUserEmail&redirect=0&requested=******" style="color: #808080;"></a></font></p>


<!-- ### Closing Tags and Credit. ### -->

</td></tr></table>
<center><font face="trebuchet ms" size="2" color="#000000">2012 - Blog Design by SamarMishra</font></center>

<!-- #### Starry background bottom bar #### -->

<table align="center" width="700" height=50 cellspacing="0" cellpadding="0" border="0" bgcolor="#000000" background="http://tinypic.com/ic5qht.gif">


<!-- ### End of HTML. ### -->