<!-- ### Beginning of HTML.  Opening Tables. ### -->

<table align="center" width="700" cellspacing="0" cellpadding="0" style="border:3px solid #000000;" bgcolor="#FFFFFF">
<tr>
<td>

<table align="center" width="100%" height=100 cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF" background="http://tinypic.com/ic5qht.gif">
<tr>
<td>
</td></tr></table>


<!-- ### disco ball ### -->
<center><img src="http://tinypic.com/ic4nx3.gif"></center>


<!-- ### about me gif ### -->

<p align=center><font face="verdana" size="4" color="#000000">Contact Me@</font></p>


<!-- #### Text table #### -->

<table align="center" width="100%" cellspacing="0" cellpadding="30" border="0" bgcolor="#FFFFFF" >
<tr>
<td>


<!-- ### About ME Header ### -->

<font face="verdana" size="4" color="#000000"><b><u>My Contact Deatils </u></b></font><br><br>


<!-- ### About ME text.  Talk about you, your family.  Use two br tags to separate paragraphs.  See below ### -->

<p  align="justify"><font face="verdana" size="2" color="#000000">

<div><b><u>Name</u> : Samar Kumar Mishra<b></div><br>
<div><b><u> Profile</u> : Software Engineer at Sedin Technologies Pvt. Ltd., Chennai<b></div><br>
<div><b><u>eMail</u> : er.samarmishra@gmail.com<b></div><br>
<div><b><u>Contact No.</u> :+91-916666460<b></div><br>
<div><b><u>Website</u> : <a href ="http://samarkmishra.blogspot.in/">http://samarkmishra.blogspot.in/</a><b></div>


</font></p><br><br>




</td></tr></table>
<center><font face="trebuchet ms" size="2" color="#000000">2012 - Blog Design by SamarMishra</font></center>

<!-- #### Starry background bottom bar #### -->

<table align="center" width="700" height=50 cellspacing="0" cellpadding="0" border="0" bgcolor="#000000" background="http://tinypic.com/ic5qht.gif" >
<tr>
<td>
</td></tr></table>
</td></tr></table><br><br>





<!-- ### End of HTML. ### -->