<!-- ### Beginning of HTML.  Opening Tables. ### --><head>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-34585232-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>

<table align="center" width="700" cellspacing="0" cellpadding="0" style="border:3px solid #000000;" bgcolor="#FFFFFF">
<tr>
<td>

<table align="center" width="100%" height=100 cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF" background="http://tinypic.com/ic5qht.gif">
<tr>
<td>
</td></tr></table>


<!-- ### disco ball ### -->
<center><img src="http://tinypic.com/ic4nx3.gif"></center>


<!-- ### about me gif ### -->

<p align="center"><font face="verdana" size="4" color="#000000">Projects Done</font></p>


<!-- #### Text table #### -->

<table align="center" width="100%" cellspacing="0" cellpadding="30" border="0" bgcolor="#FFFFFF" >
<tr>
<td>


<!-- ### About ME Header ### -->

<font face="verdana" size="4" color="#000000"><b><u>My Project Details</u></b></font><br><br>


<!-- ### About ME text.  Talk about you, your family.  Use two br tags to separate paragraphs.  See below ### -->

<p  align="justify"><font face="verdana" size="2" color="#000000">
<h3>1:</h3>
<div><b>I was a part of the project named <u>Student Information System(SIS).</u></b><br/>
<b>Which has been developed to keep track of the students belonging to a particular Institution.</b><br/>
<b>And manage and monitor their task by the admin who may be some body from Learning Coach , Life coach any Teacher.</b><br/>
<b>Assigning tasks to the Students, getting their status and the statistical review pf the performance of the each student.</b></div><br>
<div><b><u>Link</u> : <a href ="http://www.edge.candojo.com/" target="_blank">Student Info. Sys.</a><b></div><br/><br/>
<h3>2:</h3>
<div><b>Next I was involved in an another project which related to Photography and the name of the project was GOODSTOCK.</b><br/>
<b>Basically the project is all about the various types of images (real and being taken via camera).</b><br/>
<b>These images has been categorised on the basis of their type whether that is a 3D image or the simple.</b><br/>
<b>In this site their are certain photographers enrolled who got their photos and used to post it their in their lightboxes respectively.</b><br/>
<b>Admin can create various users as well as photographers and those photographs may be purchased by any user who wants it to purchase.</b><br/>
<b>The payment has two options one it may be on line and 2ndly it may be cash on delivery.
<b>You can know better about it by visiting the site itself.</b></div><br/>
<div><b><u>Link</u> : <a href ="http://goodstock.eu/" target="_blank">Goodstock.</a><b></div>
</font></p><br><br>




</td></tr></table>
<center><font face="trebuchet ms" size="2" color="#000000">2012 - Blog Design by SamarMishra</font></center>

<!-- #### Starry background bottom bar #### -->

<table align="center" width="700" height=50 cellspacing="0" cellpadding="0" border="0" bgcolor="#000000" background="http://tinypic.com/ic5qht.gif" >
<tr>
<td>
</td></tr></table>
</td></tr></table><br><br>





<!-- ### End of HTML. ### -->